@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.App {
  color: white;
}

#aboutDiv {
  display: flex;
}

#images {
  display: flex;
  width: 45%;
}

.card {
  width: 25rem;
}

.image-div {
  margin: 15px;
  border: 2px solid black;
}

#aboutText {
  width: 500px;
}
